/* Seção principal do formulário de interesse */
.form-section {
  display: flex;
  flex-direction: row; /* Mantém o layout lado a lado */
  gap: 30px; /* Espaçamento entre o texto e o formulário */
  padding: 40px 70px;
  justify-content: space-between;
  align-items: stretch; /* Garante que o texto e o formulário tenham a mesma altura */
  max-width: 1200px;
}

/* Título e parágrafo */
.form-section h3 {
  color: white;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
}

.form-section p {
  color: white;
  font-size: 16px;
  font-weight: 400;
}

.form-section .text {
  flex: 1; /* Texto ocupa metade do espaço */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza o texto verticalmente */
}

.form-section form {
  flex: 1; /* O formulário ocupa a outra metade do espaço */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza os inputs */
  align-items: flex-start;
  width: 100%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
.form-section .formsubmit{
  flex: 1; /* O formulário ocupa a outra metade do espaço */
}
.form-section form input {
  background: none;
  border: 1px solid rgba(84, 113, 10, 0.7);
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  color: rgba(84, 113, 10, 0.7);
  font-size: 16px;
  outline: none; /* Remove o contorno padrão ao focar */
  border-radius: 5px; /* Arredondando os cantos dos inputs */
}

.form-section form input::placeholder {
  color: rgba(84, 113, 10, 0.7); /* Placeholder mais visível */
}

.form-section form input:focus {
  border-bottom: 2px solid #4a90e2; /* Destaque ao focar */
}

/* Estilo para o botão btn-primary */
form btn-primary {
  align-self: center; /* Centraliza o botão */
  margin-top: 20px; /* Espaçamento acima do botão */
}

/* Mensagem de sucesso */
.success-message {
  background-color: rgba(255, 255, 255, 0.1); /* Fundo semi-transparente */
  color: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  margin-top: 20px;
  width: 100%;
  font-size: 16px;
}

/* Responsividade */
@media (min-width: 1080px) {
  .form-section {
    gap: 115px; /* Ajusta o espaço entre o texto e o formulário em telas maiores */
    padding: 40px 120px;
  }

  .form-section form {
    max-width: 400px; /* Limita a largura do formulário em telas maiores */
  }
}

@media (max-width: 768px) {
  .form-section {
    padding: 20px; /* Reduz o padding em telas menores */
    flex-direction: column; /* Empilha o texto e o formulário */
  }

  .form-section h3 {
    font-size: 28px; /* Reduz o tamanho da fonte do título */
  }

  .form-section p {
    font-size: 14px; /* Reduz o tamanho da fonte do texto */
  }

  .form-section form input {
    height: 50px; /* Reduz a altura dos inputs */
    margin-bottom: 20px; /* Reduz o espaçamento entre os inputs */
  }
}
