<app-header></app-header>
<main>
  <section class="main-section">
    <div class="headline">
      <p>Pretensa lojinha de produtos inspirados em piadas e reflexões do canal Ateu Informa no Youtube</p>
      <btn-primary btn-text="Comprar"></btn-primary>
    </div>

    <!-- Carrossel de Produtos -->
    <div class="swiper">
      <div class="swiper-wrapper">
        <!-- Slide para cada caneca -->
        @for (caneca of canecas; track caneca.nome) {
          <div class="swiper-slide">
            <div class="product-card" (click)="showCanecaDetails(caneca)">
              <img [ngSrc]="caneca.frente" [alt]="caneca.nome" width="300" height="300" priority>
              <h3>{{ caneca.nome }}</h3>
              <p>{{ caneca.descricao }}</p>
              <span class="price">{{ caneca.preco }}</span>
              <btn-primary btn-text="Comprar"></btn-primary>
            </div>
          </div>
        }
      </div>
      <!-- Navegação -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </section>
      <!-- Div oculta com frente e verso da caneca -->
      @if (showDetails && selectedCaneca) {
        <div class="caneca-details">
          <div class="caneca-images">
            <img [src]="selectedCaneca.frente" alt="Frente da Caneca">
            <img [src]="selectedCaneca.verso" alt="Verso da Caneca">
          </div>
          <button (click)="hideCanecaDetails()" class="close-button">Fechar</button>
        </div>
      }

  <!-- Formulário de Interesse -->
  <email-form></email-form>
</main>

<app-footer></app-footer>