@import "https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Soap&display=swap"; /* Link da fonte Soap */

h3 {
  font-family: 'Soap', cursive; /* Fonte Soap para títulos */
}

.pad-70 {
  padding: 0 70px;
}
body {
  display: flex;
  flex-direction: column; /* Organiza o conteúdo verticalmente */
  background: linear-gradient(to bottom,  white, rgba(84, 113, 10, 0.7)); /* Degradê do verde para o branco */
  margin: 0;
  font-family: 'Lato', sans-serif; /* Fonte Lato */
}